*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 1130px;
    margin: 0 auto;
}
.about-me {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.about-me__photo img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.about-me__info h1{
    font-size: 52px;
    margin-bottom: 15px;
}
.about-me__info h2{
    font-size: 26px;
}
.title {
    font-size: 25px;
    margin: 20px 0px;
}
.title_small {
    font-size: 20px;
    margin-bottom: 10px;
}
.list__item {
    margin-left: 40px;
}
a{
    color: darkblue;
}
a:hover{
    text-decoration: underline;
}